<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Vue.js</title>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div id="app">
  <form>
    <label for="name">氏名：</label>
    <input type="text" id="name" v-on:keyup.alt.81="help" v-model="name" />
  </form>
  <!-- <form>
    <label for="name">氏名：</label>
    <input type="text" id="name" v-on:keyup.escape="clear" ng-model="name" />
  </form> -->
  <!-- <div id="parent" v-on:click="onParentClick">
    親要素
    <div id="my" v-on:click.self.stop="onMyClick">
      現在要素
      <div id="child" v-on:click="onChildClick" >
        子要素
      </div>
    </div>
  </div> -->
  <!-- <input type="button" value="結果表示" v-on:click.once="onclick" />
  <p>今日の運勢は{{ result }}点です。</p> -->
  <!-- <form v-on:submit="onsubmit">
    <label for="email">メールアドレス：</label>
    <input id="email" name="email" type="email" />
    <input type="submit" value="送信" />
  </form> -->
  <!-- <div class="small" v-bind:class="[colorClass, { frame: isChange }]">
    みなさん、こんにちは！
  </div> -->
  <!-- <a v-bind:style="{ 'tap-highlight-color': 'Aqua' }" v-bind:href="url">
    {{ url }}
  </a> -->
  <!-- <form>
    <label for="name">氏名：</label>
    <input type="text" id="name" v-model="name" />
  </form>
  <div v-once>初めまして {{ name }} さん。</div>
  <div>初めまして、 {{ name }} さん。</div> -->
  <!-- <select v-model="attr">
    <option value="height">高さ</option>
    <option value="width">幅</option>
  </select>
  <input type="text" size="5" v-model="size" /><br />
  <img src="https://wings.msn.to/image/wings.jpg" v-bind:[attr]="size" /> -->
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="js/event_sys.js"></script>
</body>
</html>
