<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Vue.js</title>
</head>
<body>
<div id="app">
  <form>
    <label for="dog">犬:</label>
    <input type="radio" id="dog" value="いぬ" v-model="pet" />
    <br />
    <label for="cat">ねこ:</label>
    <input type="radio" id="cat" value="ねこ" v-model="pet" />
    <br />
    <label for="other">その他:</label>
    <input type="radio" id="other" value="その他ンゴ" v-model="pet" />
    <br />
    <label for="other">タイピング:</label>
    <input type="radio" id="typingclub" value="タイピングクラブ" v-model="typing" />
    <br />
    <label for="other">人間:</label>
    <input type="radio" id="erufu" value="エルフの剣士" v-model="human" />
    <br />
    <label for="other">ロボット:</label>
    <input type="radio" id="robot" value="鉄腕アトム" v-model="bot" />
  </form>
  <p>ペット：{{ pet }}</p>
  <p>ペット：{{ typing }}</p>
  <p>ペット：{{ human }}</p>
  <p>ペット：{{ bot }}</p>
</div>
<!-- <script src="lib/vue.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<!-- <script>window.Vue || document.write('<script src="lib/vue.min.js"><\/script>');</script> -->
<script src="js/model_radio.js"></script>
</body>
</html>
