<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Vue.js</title>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div id="app">
  <div v-bind:style="[ color, size ]">
    みなさん、こんにちは！
  </div>
  <!-- <form>
    <label for="name">氏名：</label>
    <input type="text" id="name" v-model="name" />
  </form>
  <div v-once>初めまして {{ name }} さん。</div>
  <div>初めまして、 {{ name }} さん。</div> -->
  <!-- <select v-model="attr">
    <option value="height">高さ</option>
    <option value="width">幅</option>
  </select>
  <input type="text" size="5" v-model="size" /><br />
  <img src="https://wings.msn.to/image/wings.jpg" v-bind:[attr]="size" /> -->
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="js/style_multi.js"></script>
</body>
</html>
